
  

nav{
    background-color: rgba(246, 209, 209, 0.5) !important;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
}



nav a{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar-brand img{
    object-fit: contain;
    max-height: 100px;
    max-width: 150px;
}


@media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
    .navbar-center .nav-item{
        border-bottom: 1px solid whitesmoke;
      }
  }

  @media (max-width: 768px) {
    #navbarNavAltMarkup{
        padding-top:30px;
        background-color: thistle;
        height: 100vh;
    }
    #navbarNavAltMarkup button{
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
      }
  }



header .header_background{
    background-image: url('https://images.unsplash.com/photo-1551601651-2a8555f1a136?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=772&q=80');
   
   /* background-image: url('http://i.stack.imgur.com/kx8MT.gif');*/
   

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  max-height: 80vh;
  width:100%;
  object-fit:cover;

}

header .cont_texts{
   max-width:800px;
}




 @media (max-width: 768px) {
    header h1{
        font-size: 23px;
     }
    
     header h4{
        font-size: 20px;
     }
    
     header a{
        font-size: 16px !important;
     }

     header .mask{
        width:100% !important;
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 10px;
     }

     header .cont_texts{
        width:100% !important;
        margin: 0 !important;
        padding: 10px !important;
     }


  }

#worker img{
    width: 100%;
    max-height: 55vh;
    object-fit: cover;
}

#copyright{
    width: 100%;
    background-color: teal;
}

footer{

    background-color:#FDF0E6;
}

button{
    border: none !important;
    background-color: #87219C;
    color: whitesmoke;
    padding: 10px 20px;
    font-family: 'Roboto Mono', monospace;
}

button:focus{border :none !important;}



.color-purple{
color: #87219C;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}

i.fa-whatsapp,i.fa-search-location{
  font-size: 25px;
}

.f_karla{
    font-family: 'Karla', sans-serif;
    font-family :kepler-std;
    font-size:36.4336px;
    line-height:47.3345px;
    vertical-align:baseline;
    letter-spacing:normal;
    font-weight:300;
    text-decoration:none solid rgb(255, 255, 255)
}
.f_karlaa{
  font-size:20.6944px;
  font-family:kepler-std;
  Font  :kepler-std;
  vertical-align:baseline;
  font-weight:300;
}

.f_source{
    font-family: 'Source Serif Pro', serif;
    font-family :kepler-std;
    Font :kepler-std;
    line-height:39.4807px;
    vertical-align:baseline;
    letter-spacing:normal;
    font-weight:300;
    text-align:center;
}

.f_karla_b{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.f_bolder{
    font-weight: bolder;
}

#navbarNavAltMarkup{
    animation-name: opacityup;
    animation-duration: 1.5s;
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    70% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }

  @keyframes opacityup {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.4;
    }
    100% {
        opacity: 1;

    }
  }

  /*-------------------------------- About page css ------------------------------------
  -----------------------------------------------------*/
  .about_body{
    background-color:#FDF0E6;
}

/*--------------------- Service pages --------------
------------------------------------------ */
.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.service-block {
  padding: 20px;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 38px rgba(21, 40, 82, 0.07);
}

.service-block img {
  width: 100%;
  margin-top: -60px;
  border: 5px solid #fff;
}

/* New Whatsapp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


h1,h2,h3,h4,h5,p {
  line-height: 2;
}